<h1>Listing developers</h1>

<table>
  <tr>
    <th>User github</th>
  </tr>

<% @developers.each do |developer| %>
  <tr>
    <td><%=h developer.user_github %></td>
    <td><%= link_to 'Show', developer %></td>
    <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
    <td><%= link_to 'Destroy', developer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New developer', new_developer_path %>