$("#title").html('<%= escape_javascript @project.name %>');
$("#repos").html("<small>Current Projects</small>");
$("#main").html(
'<div class="columns on-2">\
  <div class="column content" id="github">\
    <%= escape_javascript render :partial => "github_tracker", :object => @commits %>\
  </div>\
  <div style="width:10px;display:block;"></div>\
  <div class="column content" id="tracks">\
    <%= escape_javascript render :partial => "task_tracker", :object => @tickets %>\
  </div>'
);
$("#devs_side").html('\
<div>\
  <li class="add_dev">\
    <a href="#" class="new_element" id="new_developer" name="developers">+ Add new developer</a>\
  </li>\
  <ul>\
  <% @devs.each do |dev| %>\
    <li class="dev dev_elem">\
      <%= gravatar_for dev, :size => 25 %>\
      <a class="user_project_link dev_link" href="#" id="<%= @project.repo_name %>" name="<%=dev.id%>"><%= dev.github_login %></a>\
    </li>\
  <% end %>\
  </ul>\
</div>\
');
$(".dev_elem").draggable({helper:'clone',revert:"valid"});
$("#main").droppable({drop: function() {
  url_action = "/projects/task/"
  data_param = {
    data_param: $(".ui-draggable-dragging > a").attr('name'),
    data_proj: $(".ui-draggable-dragging > a").attr('id')
  };
  $.ajax({
    url: url_action,
    data: data_param,
    dataType: 'script'
  });
  return false;
}});
